<h1>Add Branch</h1>
<form method="post" action="/Bank/Create">
    <tr>
    <div>
        <label for="name">Location Name: </label>
        <input type="text" id="LocationName" name="locationName" required />
    </div>

    <div>
        <label for="name">LocationURL: </label>
        <input type="text" id="LocationURL" name="locationURL" required />
    </div>

    <div>
        <label for="name">Employee Count: </label>
        <input type="text" id="EmployeeCount" name="employeeCount" required />
    </div>
    </tr>
    <button type="submit">Add</button>
</form>